@using System.Globalization

<!DOCTYPE html>
<html lang="@CultureInfo.CurrentUICulture.TwoLetterISOLanguageName">
<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>

    <style type="text/css">
        body {
            margin: 50px 70px;
            font-family: sans-serif;
        }
        
        table {
            width: 100%;
        }
        
        table tbody tr:nth-child(odd) {
            background-color: #eee;
        }
        
        .has-text-right {
            text-align: right;
        }
        
        .has-text-centered{
            text-align: center;;
        }
        
        .mb-6 {
            margin-bottom: 30px;
        }
        
        .columns {
            display:  flex;
            flex-wrap: nowrap;
        }
        
        .column {
            flex-basis: 0;
            flex-grow: 1;
            flex-shrink: 1;
        }
        
        label {
            font-weight: bold;
        }
    </style>
</head>
<body>
    @RenderBody()
</body>
</html>