@using Azure.Core
@model Bazza.ViewModels.Home.RegisterViewModel

<section class="section">
    <h4 class="title is-4">Herzlichen Dank für die Anpassung deiner Registrierung</h4>
    <p>
        Deine angepassten Daten sind bei uns eingelangt.<br/><br/>
    </p>
    <p>
        Die Anpassung oder Änderung deiner Artikel ist bis <b>@Settings.RegistrationEndDate.ToString("dddd, dd. MMMM yyyy")</b> möglich.<br/><br/>
    </p>
    <p>
        Du kannst deine Registrierung beziehungsweise deine Artikel noch anpassen, indem du diese Adresse aufrufst:<br/>
        @{ var url = Url.Action(nameof(HomeController.Register), "Home", new
           {
               accessToken = Model.AccessToken
           }, "https"); }
        <a href="@url">@url</a><br/><br/>
    </p>
    <p>
        Für Details zum Ablauf oder wenn du noch Fragen hast, haben wir eine <a asp-action="Manual">Anleitung zur Onlineeinschreibung</a> zusammengestellt.
    </p>
    <partial name="_Register_Buttons"/>
</section>