@model Bazza.ViewModels.Home.RegisterViewModel

<section class="section">
    <h4 class="title is-4">Herzlichen Dank für die Anpassung deiner Registrierung</h4>
    <p>
        Deine angepassten Daten sind bei uns eingelangt, und wir werden uns rechtzeitig vor dem Basar wieder bei dir melden,
        um dir deine Etiketten und alle sonstigen Informationen zum Basar zuzusenden.<br/><br/>
    </p>
    <p>
        Bei vollständig ausgefüllten Listen mit 50 Artikeln werden die Etiketten ehestmöglich erstellt und an die von dir angegebenen E-Mail-Adresse zugesendet.<br/><br/>
    </p>
    <p>
        Ausgefüllte Listen mit weniger als 50 Artikeln können noch für 1 Woche ab Erstellung ergänzt werden. Dann erst bekommst du von uns die Etiketten.
        Sollte deine Liste schon fertig sein und du benötigst die Etiketten schon vor Ablauf der 7 Tage, schreibe bitte kurz eine E-Mail an <a href="mailto:basar@neufelden.at">basar@neufelden.at</a>.<br/><br/>
    </p>
    <p>
        Die Eingabe der Artikel ist bis <b>Dienstag, 7. September 2021</b> möglich.<br/><br/>
    </p>
    <p>
        Du kannst deine Registrierung beziehungsweise deine Artikel noch anpassen, indem du diese Adresse aufrufst:<br/>
        @{ var url = Url.Action("Index", "Home", null, "https") + Model.AccessToken; }
        <a href="@url">@url</a>
    </p>
</section>