@model Bazza.ViewModels.Home.RegisterViewModel

@if (string.IsNullOrWhiteSpace(Model.AccessToken))
{
    <div class="columns">
        <div class="column">
            <h1 class="title is-1">Registrierung für den Basar Neufelden</h1>
        </div>
    </div>

    <div class="columns">
        <div class="column">
            <b>Willkommen</b> bei der Registrierung für den Basar am @Settings.EventStartDate.ToString("d.") – @Settings.EventEndDate.ToString("d. MMMM yyyy") im Turnsaal der Volksschule Neufelden.
        </div>
    </div>

    <div class="columns">
        <div class="column">
            <h3 class="is-title is-size-5">
                Artikel
            </h3>
            <p>
                Bitte gib deine persönlichen Daten an, damit wir deine Artikel zuordnen und dir deine Etiketten zusenden können.
                Aus organisatorischen Grünen kannst du maximal 50 Artikel angeben. Solltest du mehr verkaufen wollen, registriere dich bitte ein weiteres Mal.<br /><br />
                Die Registrierung war sofort erfolgreich, wenn du gleich auf die Bestätigungsseite kommst.
            </p>
        </div>

        <div class="column">
            <h3 class="is-title is-size-5">
                Listen
            </h3>
            <p>
                Bei vollständig ausgefüllten Listen mit 50 Artikeln, werden die Etiketten ehestmöglich erstellt und an die von dir angegebene E-Mail-Adresse zugesendet.
                Ausgefüllte Listen mit weniger als 50 Artikeln können noch für 1 Woche ab Erstellung ergänzt werden und dann erst bekommst du von mir die Etiketten.
                Sollte deine Liste schon fertig sein und du benötigst die Etiketten schon vor Ablauf der 7 Tage, schreibe bitte kurz ein E-Mail an basar@neufelden.at.
            </p>
        </div>
    </div>

    <div class="columns">
        <div class="column">
            <h3 class="is-title is-size-5">
                Deadline
            </h3>
            <p>
                Die Eingabe der Artikel ist bis @Settings.RegistrationEndDate.ToString("dddd, d. MMMM yyyy") möglich.
            </p>
        </div>

        <div class="column"></div>
    </div>
}
else
{
    <div class="columns">
        <div class="column">
            <h1 class="title is-size-1">Registrierung für den Basar Neufelden anpassen</h1>
        </div>
    </div>

    <div class="columns">
        <div class="column">
            <b>Willkommen zurück</b>, @Model.Name! Du findest unten die Daten deiner Registrierung und kannst sie gerne noch anpassen oder verändern.
        </div>
    </div>
}