@model Bazza.ViewModels.Admin.IndexViewModel

<h1 class="title">Dashboard</h1>

<div class="columns">
    <div class="column">
        <div class="card">
            <div class="card-content">
                <p class="title">
                    @Model.Persons
                </p>
                <p class="subtitle">
                    Verkäufer
                </p>
            </div>
        </div>
    </div>
    <div class="column">
        <div class="card">
            <div class="card-content">
                <p class="title">
                    @Model.Articles
                </p>
                <p class="subtitle">
                    Artikel
                </p>
            </div>
        </div>
    </div>
    <div class="column">
        <div class="card">
            <div class="card-content">
                <p class="title">
                    @Model.Users
                </p>
                <p class="subtitle">
                    Benutzer
                </p>
            </div>
        </div>

    </div>
</div>