@using System.Globalization
@using System.Reflection
@using Bazza
@{ var version = typeof(Startup).Assembly.GetCustomAttribute<AssemblyInformationalVersionAttribute>().InformationalVersion; }

<!DOCTYPE html>
<html lang="@CultureInfo.CurrentUICulture.TwoLetterISOLanguageName">
<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>Basar Neufelden: Registrierung</title>
    @* ReSharper disable once Html.PathError *@
    <link rel="stylesheet" href="~/css/bundle.css?v=@version"/>
</head>
<body>

<main class="container">
    @RenderBody()
</main>

<footer class="footer container">
    <div class="content has-text-centered">
        <p>
            Bei Fragen oder Schwierigkeiten bitte an Ursula Pühringer unter <a href="mailto:basar.neufelden@gmail.com">basar.neufelden@gmail.com</a> oder <a href="tel://00436641458265">0664 1458265</a> wenden.<br />
            v@(version) &copy; <a href="https://github.com/saxx/bazza">Hannes Sachsenhofer</a>
        </p>
    </div>
</footer>

@* ReSharper disable once Html.PathError *@
<script src="~/js/bundle.js?v=@version"></script>
</body>
</html>
<!-- Adliance.Website v@(version) -->