@model Bazza.ViewModels.User.ResetPasswordViewModel

@if (Model.Success)
{
    <div class="notification is-success mt-6">
        <div>
            Danke. Mit diesem Passwort kannst du dich ab jetzt immer einloggen.
        </div>
        <div class="mt-3">
            <a asp-action="@nameof(AdminController.Index)" asp-controller="Admin" class="button is-primary">Weiter zum Admin-Bereich</a>
        </div>
    </div>
}
else
{
    <form method="post" class="mt-6">
        <div class="columns">
            <div class="column is-one-quarter"></div>
            <div class="column is-half">
                <input type="hidden" asp-for="Username"/>

                <div class="notification is-warning mb-6">
                    Du musst das Passwort für deinen Benutzer <code>@Model.Username</code> ändern.
                </div>

                <div>
                    <field asp-for="Password" label="Wähle dein neues Passwort:" password/>
                </div>
                <div class="mt-3">
                    <field asp-for="RepeatPassword" label="Wiederhole dein neues Passwort:" password/>
                </div>
                <div class="mt-3">
                    <button type="submit" class="button is-primary">Passwort ändern</button>
                </div>
            </div>

            <div class="column is-one-quarter"></div>
        </div>
    </form>
}